body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    border: 0;
    margin: 0;
    background-color: #EFEFEF;
}

.wrapper {
    /* background: grey; */
}

.container {
    width: 1200px;
    height: auto;
    margin: auto;
    padding-right: 10px;
    /* padding-left: 10px; */
    background-color: #bad7ee;
}

.container2 {
    width: 1210px;
    height: 100%;
    margin: auto;
    /* padding-left: 10px; */
    background-color: #082032;
}

.center {
    margin: auto;
    width: 150px;
}

/* div bagian logo */
img {
    width: 300px;
    height: 100px;
    float: left;
    /* background: #000; */
}

/* div menu */
#menu {
    padding-top: 30px;
    padding-bottom: 30px;
    float: right;
    width: 400px;
    /* background-color: hotpink; */
}

#menu li {
    float: left;
    list-style: none;
    margin-left: 20px;
    margin-right: 20px;
}

#menu li a {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

#menu li a:hover {
    color: rgb(94, 169, 255);
}

/* div bagian conten */
/* sidebar */
.sidebar {

    color: rgb(255, 255, 255);
    width: 300px;
    height: 850px;
    background: #2C394B;
    float: left;
}



.sidebar a {
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.sidebar a:hover {
    color: rgb(94, 169, 255);
}

.recent-article {
    padding-left: 10px;
    padding-right: 10px;
}

.recent-article ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

/* content */
.content {
    color: #1f2225;
    width: 880px;
    /* height: 600px; */
    /* background: blue; */
    float: right;
}

.blog-content {
    float: left;
    max-width: 400px;
    margin-right: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.blog-content img {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.blog-content a {
    color: rgb(177, 15, 15);
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}

.blog-content a:hover {
    color: rgb(218, 67, 22);
}


/* bagian info */
.blog-single {
    float: left;
    max-width: 900px;
    max-height: 400px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.blog-single img {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 70px;
    border-radius: 5px;
    width: 720px;
    height: 300px;
    object-fit: cover;
}

.clear {
    clear: both;
}

/* footer */
footer {
    width: 1190px;
    height: 30px;
    margin: auto;
    background-color: #082032;
    color: white;
    padding-left: 20px;
    padding-top: 10px;
    font-size: 12px;
}